
data/MLB_2012/MLB_AtBats_2012_PostSeason.csv
data/MLB_2012/MLB_AtBats_2012_RegularSeason.csv
data/MLB_2012/MLB_AtBats_2012_SpringTraining.csv
data/MLB_2012/MLB_PitchFX_2012_PostSeason.csv
data/MLB_2012/MLB_PitchFX_2012_RegularSeason.csv
data/MLB_2012/MLB_PitchFX_2012_SpringTraining.csv
data/MLB_PitchFX.csv
data/MLB_PitchFX.sql
data/MLB_Players.csv
